@use "./screen";
:root {
  --bg: #0b1a09;
  --headerBg: #029e23;
  --textPrimary: whitesmoke;
  --boxShadow: #055e;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--textPrimary);
  background-color: var(--bg);
  font-family: Cantarell, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
