@use "./screen";

.main {
  margin: 2em 0;
}
.mainHead {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.mainImg {
  object-fit: cover;
  border-radius: 50%;
}

.audioCardHold {
  display: grid;
  grid-template-columns: 1fr;
  @include screen.devices(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}
