@use "./screen";

.main {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainHead {
  position: relative;
  padding: 10px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 10px;
  overflow: hidden;
  pointer-events: auto;

  &::before {
    content: "";
    background-color: #00ff0009;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 30;
    pointer-events: none;
  }
}

.mainImg {
  object-fit: cover;
  display: inline;
  overflow: hidden;
}

.audioCardHold {
  display: grid;
  grid-template-columns: 1fr;
  @include screen.devices(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.gridSect2 {
  h3 {
    text-align: center;
  }
}

.visitWeb {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(1, 82, 1);
  border-radius: 10px;
  padding: 2px 5px;

  p {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    font-weight: bold;
  }
}
