@use "./screen";

.main {
  margin: 2em 0;
  display: flex;
  justify-content: center;
}
.cardHold {
  width: 90%;
  min-height: 150px;
  border: 6px solid green;
  border-radius: 10px 10px;
  padding: 5px 10px;
  background: rgb(0, 128, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 14px 2px green;

  @include screen.devices(sm) {
    width: 60%;
  }
}

.h4 {
  text-align: center;
  margin: 0;
  padding: 0;
}
.audio {
  background-color: rgb(21, 249, 35);
  border: 6px solid #0f972b;
  border-radius: 33px;
}
